*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f2f3e5;
    color: #3a2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2em;
   border-radius: 2em;
   background-color: rgba(255, 255, 255, 0.50);
   padding: 4em 3em;
}

.title {
    font-size: 3em;
    font-weight: bold;
}

hr {
    width: 100%;
    border: 1px solid #ccc;
    height: 5px;
    border: none;
}

.timer{
    font-size: 10em;
    font-weight: light;
}

.button-wrapper {
    display: flex;
    gap: 1em;
}

button{
    font-size: 2em;
    font-weight:light;
    letter-spacing: 1px;
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    border:none;
    cursor:pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

button:hover{
    transform: translateY(-5px);
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

button.clicked {
    animation: buttonClick 0.3s ease-in-out;
}

#start-button{
    background-color: #abffae;
}
#stop-button{
    background-color: #fea29b;
}
#reset-button{
    background-color: #75d8f9;
}